version: '3'
services:
  netdata:
    image: netdata/netdata
    hostname: 0.0.0.0
    ports:
      - 19999:19999
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor: unconfined
    volumes:
      - /proc:/hosts/proc:ro
      - /sys:/host/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
